.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #406346;
    background-image: url(../../assets/images/gameback.png);
    background-size: 100% 100%;
}

form{
    width: 20vw;
}

.custbutton {
    // float: none;
    // display: flex;
    // margin-left: auto;
    // margin-right: auto;
    // align-self: center;
    // width: 50vw;
    // // background: rgba(144, 19, 254, 0.25);
    // // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    // // backdrop-filter: blur(4px);
    // // -webkit-backdrop-filter: blur(4px);
    // // border-radius: 10px;
    // // border: 1px solid #ffffff2e;
    // justify-content: center;
}
.custbutton:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}

input {
    // background-image: linear-gradient(
    //     to right top,
    //     #d16ba5,
    //     #c777b9,
    //     #ba83ca,
    //     #aa8fd8,
    //     #9a9ae1,
    //     #8aa7ec,
    //     #79b3f4,
    //     #69bff8,
    //     #52cffe,
    //     #41dfff,
    //     #46eefa,
    //     #5ffbf1
    // );
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // -moz-background-clip: text;
    // -moz-text-fill-color: transparent;
    // margin: 3vw 3vh 3vw 3vh;
    // border-radius: 12px;
    // border: 0;
    // box-sizing: border-box;
    // margin-left: auto;
    // margin-right: auto;
    // font-size: 18px;

    // outline: 0.5;
    // padding: 4px 20px 0;
    // width: 50%;
}
.txt {
    background-image: linear-gradient(
        to right top,
        #d16ba5,
        #c777b9,
        #ba83ca,
        #aa8fd8,
        #9a9ae1,
        #8aa7ec,
        #79b3f4,
        #69bff8,
        #52cffe,
        #41dfff,
        #406346,
        #5ffbf1
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    justify-content: center;
    margin: 3vw 3vh 3vw 3vh;
    display: flex;
    align-self: center;
}
