.main{
    height:100vh;
    max-width:100vw;
    // background-color: aquamarine;
    background-image: url('../../assets/images/plant/plantbg.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;


}
.inst{
  // height:50px;
  // top: 20vh;
  // left: 67vw;
  position: absolute;
  top:15%;
  left:30%;
  color:white;
}
.left{
    max-height:100vh;
    max-width:100vw;
    // margin-left: 50%;
    // margin-top: 10%;
}

model-viewer {
    width: 200px;
    height: 400px;
    margin-top: 20%;
    // margin-left:10%;
    padding:0%;
    position:absolute
  }

button{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    box-sizing: border-box;
    z-index: 1000;
    top: 0;
    left: 0;
    position: absolute;
  }

//   button[slot="hotspot-hand"]{
//     --min-hotspot-opacity: 0;
//     background-color: red;
//   }

  #annotation{
    background-color: #888888;
    position: absolute;
    // transform: translate(10px, 10px);
    border-radius: 10px;
    padding: 10px;
  }
  /* This keeps child nodes hidden while the element loads */
  :not(:defined) > * {
    display: none;
  }
  
  .code{
    // height:50px;
    // top: 20vh;
    // left: 67vw;
    position: absolute;
    top:78%;
    left:19%;
    color:white;
}
// .tablet img{
//     position:absolute;
//     top: 20vh;
//     left: 67vw;
//     // margin-bottom: 100%;
// }